/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c6ffad;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    text-align: center;
    background-color: #c6ffad;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
    margin: 0 0 10px; /* Added margin bottom to separate sections */
    color: #333;
}

button {
    background-color: #595cfc;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #64e6f5;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 20px;
}

a:hover {
    text-decoration: underline;
}

.game
{
    width: 720px;
    border: solid 1px #ddd;
    margin: 0 auto;
   background: #3ac7fe;
border: solid 10px;
text-align:center;
min-height:430px;
}

.btn{
    border:none;
    padding: 10px 30px;
    border-radius:10px;
    cursor:pointer;
}

.btn:hover{
    background:dodgerblue;
}

.game h3
{
padding: 10px;
background:black;
color:white;
}

.game .game-body
{
padding: 20px;
}

.game .game-options
{
text-align:center;
}
.game .card{
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.game .status
{
    display: inline-block;
background: gold;
border: solid 5px white;
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
margin-top: 10px;
display:none;
}


.players{
       width: 500px;
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.player{
    width: 40%;
    border: solid 5px #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.player.active{
    border: solid 5px #222;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.deck{
    float:left;
    background: white;
    color:#222;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}

.btn
{
    background:#222;
    color:white !important;
    border-radius:0px;
}