/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #c6ffad;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

main {
    text-align: center;
    background-color: #c6ffad;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
    margin: 0 0 10px; /* Added margin bottom to separate sections */
    color: #333;
}

button {
    background-color: #595cfc;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #64e6f5;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-left: 20px;
}

a:hover {
    text-decoration: underline;
}